@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);

    /* ### Neutral */

    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

body {
    overflow-x: hidden;
}

section {
    padding: 5em 0;
}

h1,
h2,
h3,
h4 {
    color: var(--Very-Dark-Blue);
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;

}

h3 {
    font-size: 3rem;

}

h4 {
    font-size: 2rem;

}

h5 {
    font-size: 1rem;
    color: var(--Grayish-Blue);
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

a:hover {
    color: var(--Very-dark-blue);
}

.btn {
    width: 100%;
    min-width: 10rem;
    background-color: var(--Soft-Blue);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    height: 3em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px -6px black;
}

.btn:hover {
    border: 2px solid var(--Soft-Blue);
    background-color: #fff;
    color: var(--Soft-Blue);
    cursor: pointer;
}

.login-btn {
    background-color: var(--Soft-Red);
}

.login-btn:hover {
    border: 2px solid var(--Soft-Red);
    background-color: #fff;
    color: var(--Soft-Red);
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
}

/* Header */
header {
    z-index: 4;
    margin: 0 rem;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--Very-Dark-Blue);
    height: 11rem;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 2em;
}

.nav-link {
    transition: all 0.2s ease-out;
}

.nav-link:hover {
    color: var(--Soft-Red);
    cursor: pointer;
}

/* menu start start */
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2em;
    align-items: center;
}

li {
    margin: 0 0rem;
    overflow: hidden;
    font-size: 1.4rem;
    letter-spacing: .1em;
    font-weight: 300;
    list-style: none;
    margin-left: 1em;

}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 6em;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    z-index: 2;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
    background-color: #fff;


}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
    background-color: #fff;

}

/* menu style end */

.nav-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;

}

/* hero section start */

.div-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;

}

.div-hero-left h1 {
    font-weight: 500;
    color: var(--Very-Dark-Blue);
}

.hero-btns {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.hero-btn2 {
    background-color: hsl(229, 8%, 90%);
    color: var(--Dark-grayish-blue);
}

.hero-btn2:hover {
    border: 2px solid var(--Very-Dark-Blue);
    color: var(--Very-Dark-Blue);
}

.div-hero-right {
    width: 60%;
    position: relative;
    margin-left: 5em;
}

.div-hero-right img {
    width: 100%;
}

.div-illustration {
    height: 80%;
    width: 100%;
    border-radius: 175px 0 0 175px;
    background-color: var(--Soft-Blue);
    position: absolute;
    top: 20%;
    right: -15%;
    z-index: -1;

}

/* hero section end */

/* feature section start */
.div-features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
    text-align: center;
}

.div-features p {
    width: 50%;
}

.feature-header .links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
    gap: 6em;
    margin: 0 auto;
}

.feature-header .links div {
    height: 10em;
    width: 100%;
}

.feature-header p {
    text-align: center;
    padding: 1.9em 0;
    background-image: linear-gradient(red, red);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}

.feature-header p:hover {
    background-size: 100% 4px, auto;

}

.feature-content {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-content-left {
    width: 55%;
    height: 100%;
    position: relative;
    margin-right: 5em;

}

.feature-content-left img {
    width: 90%;
}

.feature-content .div-illustration {
    position: absolute;
    border-radius: 0 175px 175px 0;
    background-color: var(--Soft-Blue);
    left: -20%;
    top: 20%;
    z-index: -1;
    height: 100%;

}

.feature-content-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
}

.feature-content-right h1 {
    font-weight: 500;
}

.feature-content-right button {
    background-color: var(--Soft-Blue);
    width: 10em;
}

.feature-content-right button:hover {
    border: 2px solid var(--Soft-Blue);
    background-color: #fff;
    color: var(--Soft-Blue);
    cursor: pointer;
}

/* feature section end */


/* extension  section start */
.div-extensions {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

.extension-header {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    text-align: center;
}

.extension-header p {
    width: 60%;
}

.div-extension-cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8em;
    width: 85%;
}

.extension-card {
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 8px 25px -15px black;
}

.extension-card:nth-child(2) {
    margin-top: 4em;
}

.extension-card:nth-child(3) {
    margin-top: 8em;
}

.extension-card p {
    margin-top: .4em;
}

.extension-card h3 {
    margin-top: 1em;
}

.dot-img {
    width: 100%;
    margin: 4em 0 3em 0;
}

.card-btn {
    font-size: 1.2rem;
    width: 100%;
}

/* extension  section end */


/* faq  section start */
.div-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-header {
    margin-top: 4em;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4em;
}

.faq-header p {
    width: 60%;
}

.faqs {
    margin-top: 4em;
    width: 46%;
    display: flex;
    flex-direction: column;
}

.questions {
    padding-top: 3em;
    border-top: 1px solid var(--Grayish-Blue);
    position: relative;
}

.questions:last-child {
    border-bottom: 1px solid var(--Grayish-Blue);
}

.q-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}

.q-head h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: inherit;
}

.faq-arrow {
    position: absolute;
    right: 0;
}

.arrow-icon {
    color: var(--Soft-Blue);
}

.arrow-icon:hover {
    cursor: pointer;
    color: var(--Soft-Red);
}

.q-head:hover {
    cursor: pointer;
    color: var(--Soft-Red);
}

.answer {
    margin-top: 2em;
    margin-bottom: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.answer p {
    font-size: 1.4rem;
    line-height: 2em;
}

.faq-btn {
    margin-top: 4em;
}

/* faq  section end */


/* form  section start */
#formSection {
    background-color: var(--Soft-Blue);
}

.div-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-form h3,
.div-form p,
#form {
    width: 40%;
    color: #fff;
}

.div-form h3 {
    font-weight: 500;
    margin-top: 3rem;
}

.div-form p {
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1rem;
}

#form {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 3rem 0;
}

#form .input-div {
    width: 100%;
    position: relative;
}

input {
    width: 100%;
    height: 4rem;
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 6px;
}

input::placeholder {
    color: var(--Grayish-Blue);
}

.error-msg {
    background: var(--Soft-Red);
    color: #fff;
    padding: .5em;
    text-align: left;
    margin-top: -4px;
    border-radius: 0 0 4px 4px;
    display: none;
}

.error-icon {
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
}

.input-error {
    border: 2px solid var(--Soft-Red);

}

.contact-btn {
    background-color: var(--Soft-Red);
    width: 40%;
}

.contact-btn:hover {
    color: var(--Soft-Red);
    border: 2px solid var(--Soft-Red);
}

/* form  section end */


/* footer  section start */
footer {
    padding-top: 4em;
    background-color: var(--Very-Dark-Blue);
}

.footer-contents {
    margin: 4em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 5rem;
    align-items: center;
}

.div-footer ul li {
    margin-left: 0;
    letter-spacing: .1em;
    color: #fff;
}

.div-footer ul li:hover {
    color: var(--Soft-Red);
    cursor: pointer;
}

.footer-icons {
    display: flex;
    gap: 3em;
    color: #fff;
}

.footer-icons svg:hover {
    cursor: pointer;
    color: var(--Soft-Red);
}

/* footer  section end */





@media (max-width: 768px) {

    /* menu section start*/
    .menu-button-container {
        display: flex;
    }

    #menu-toggle:checked~.menu {
        right: 0 !important;
    }

    .menu-button {
        left: 3em;
        z-index: 5;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 150px 0;
        list-style: none;
        background-color: hsla(229, 31%, 21%, .9);
        z-index: 4;
        align-items: center;
        gap: 0;
    }

    .menu>li {
        margin: 0;
        padding: 2em 0;
        color: #fff;
        text-align: center;
        border-top: 1px solid #fff;
        width: 80%;

    }

    .nav-link {
        padding-bottom: 0.5em;
        background-size: 0 5px, auto;
        background-position: left bottom;
        font-weight: 400;
        font-size: 1em;
    }

    .site-logo {
        position: relative;
        z-index: 999;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    .alt-logo svg path {
        fill: #fff;
    }

    .alt-logo svg circle {
        fill: #fff;
    }

    .alt-logo .inner-shape {
        fill: #242A45;
    }

    .nav-left {
        flex-direction: row-reverse;
        gap: 3em;
    }

    .login-btn {
        background-color: #242A45;
        opacity: 1;
        border: 4px solid white;
        width: 100%;
        margin: 0;
        font-weight: 500;
        font-size: 1.6em;
        padding: 0;
    }

    .menu-social-icons {
        width: 10em;
        position: fixed;
        bottom: 10em;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        z-index: 999;
    }

    /* hero section start */

    .div-hero {
        align-items: center;
        flex-direction: column-reverse;
        gap: 8em;
        overflow-x: hidden;

    }

    .div-hero-right {
        width: 100%;
        right: 0;
        left: -2em;
    }

    .div-hero-right img {
        width: 100%;
    }

    .div-illustration {
        height: 80%;
        width: 100%;
        border-radius: 175px 0 0 175px;
        background-color: var(--Soft-Blue);
        position: absolute;
        top: 20%;
        right: -20%;
        z-index: -1;
    }

    .div-hero-left h1 {
        font-size: 3.3rem;
    }

    .div-hero-left {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .hero-btns {
        width: 100%;
    }

    /* hero section end */

    /* feature section start */
    .div-features {
        border-bottom: 1px solid var(--Very-Dark-Blue);
        padding-bottom: 4em;
    }

    .feature-header {
        padding: 0;
    }

    .feature-header .links {
        padding-top: 0;
    }

    .div-features p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .feature-header .links {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .feature-header .links div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8em;
        width: 100%;
        border-bottom: 1px solid var(--Very-Dark-Blue);
    }

    /* feature section end */

    /* feature content start */
    .feature-content {
        flex-direction: column;
        gap: 15em;
        height: 100%;
    }

    .feature-content-left {
        margin: 0;
        width: 100%;
        height: 100%;

    }

    .feature-content img {
        width: 100%;
    }

    .feature-content .div-illustration {
        left: -20%;
        top: 25%;
    }

    .feature-content-right {
        width: 100%;
        align-items: center;
        text-align: center;
        position: static;

    }

    /* feature content end */

    /* extensions start*/
    .div-extension-cards {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
    }

    .extension-card:nth-child(1),
    .extension-card:nth-child(2),
    .extension-card:nth-child(3) {
        width: 25em;
        margin-top: 6em;
    }

    .extension-header p {
        width: 100%;
    }

    /* extensions end*/

    /* faq  section start */
    .faq-header {
        margin: 0;
    }

    .faq-header p,
    .faqs {
        width: 100%;
    }

    /* faq  section end */


    /* form  section start */

    .div-form {
        width: 100%;
    }

    .div-form h3,
    .div-form p,
    #form {
        width: 100%;
        flex-direction: column;
    }

    .input-div input {
        height: 4rem;
        width: 100%;
    }

    .contact-btn {
        width: 100%;
    }

    /* form  section end */

    /* footer  section start */
    .div-footer ul,
    .footer-contents {
        flex-direction: column;
    }

    .footer-icons {
        margin: 5rem 0;
    }




}

/*extra classes */
.rotate {
    transform: rotate(180deg);
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.fixed-position {
    position: fixed;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}